h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    color:#141E27;
    background-color: #EEEDDE;
    

}
body{
    background-color:#EEEDDE ;
}
h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-position: inside;
    font-size: 30px;
}

    

h2 {
    text-decoration: none;
    color: black;
}

.contact {
    
    display: flex;
    justify-content: center;
    padding: 30px;
}
a {
    text-decoration: none;
    color: #141E27;
    padding: 30px;
    
    
    
    
}
i:hover{
    color: rgb(105, 109, 109);
}
i {
    font-size: 3rem;
    
}
#header {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid;
}